{%  extends "base.html" %}
{% block title %} ATC Codes {% endblock %}
{% block content %}
    <h1>ATC Codes</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
    </form>
    <ul>
        {% for atc_code in atc_codes %}
            <li><a href="{% url 'atc_code_update' atc_code.id %}">{{ atc_code.code }}</a></li>
        {% empty %}
            <li>No ATC code found.</li>
        {% endfor %}
    </ul>
    <div>
        {% if atc_codes.has_previous %}
            <a href="?page={{ atc_codes.previous_page_number }}">Previous</a>
        {% endif %}
        <span>
        Page {{ atc_codes.number }} of {{ atc_codes.paginator.num_pages }}.
    </span>
        {% if atc_codes.has_next %}
            <a href="?page={{ atc_codes.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
