{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drug interactions - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
    <script src="{% static 'js/autocomplete.js' %}"></script>
</head>
<body>
    <h1>{% block header %}{%  endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>
