{%  extends "base.html" %}

{% block title %} Check Drug Interactions {% endblock %}

{% block header %} Check Drug Interactions {% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Check Interactions</button>
    </form>

    <hr>

    {% if interactions %}
    <h2>Interactions:</h2>
    <ul>
        {% for interaction in interactions %}
            <li>{{ interaction.code }} - {{ interaction.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
