{%  extends "base.html" %}
{% load static %}

{% block title %} Check Drug Interactions {% endblock %}

{% block header %} Check Drug Interactions {% endblock %}

{% block content %}
    <script src="{% static 'js/drug_interactions.js' %}"></script>
    <form method="get">
        {% for drug in drugs %}
            <div>
                <input type="text" name="drugs" value="{{ drug }}" placeholder="Drug Name">
                <button type="button" class="remove-drug">-</button>
            </div>
        {% endfor %}
        <button type="button" id="add-drug">+</button>
        <button type="submit">Check Interactions</button>
    </form>

    <hr>

    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% elif interactions %}

        <h2>Interactions:</h2>
        <ul>
            {% for interaction in interactions %}
                <li>{{ interaction.code }} - {{ interaction.name }}</li>
            {% empty %}
                <li>No interactions found</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
